.viewContainer{
		margin-left: 50px;
		padding-left: 50px;
		margin-right: 50px;
		padding-right: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
}
.error{
	color:red;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #337ab7;
    margin: 1em 0;
    padding: 0; 
}
h1{
	color: #337ab7;
}
h3{
	color: #337ab7;
}
h4{
	color: #337ab7;
}
.page-header1 {
    border-bottom: 1px solid #337ab7;
    padding-bottom: 9px;
}

.topimage{
	margin-left:10px;
	margin-top:12px;
}
.topMargin10{
	margin-top:10px;
}
.rightMargin5{
	margin-right:14px;
}
.bottomMargin10{
	margin-bottom:10px;
}
.circle_green { 
	 background-color: green;
    border-radius: 12px;
    margin: 0 auto;
    padding: 0 8px;
    width: 14%;
}
.circle_red { 
     background-color: red;
    border-radius: 12px;
    margin: 0 auto;
    padding: 0 8px;
    width: 14%;
}
.searchBox{
	border: 1px solid #eee;
	padding: 42px;
}
label{
	color: #f0ad4e;
}

            